--swiftversion 5.10
--indent 4
--indentcase false
--trimwhitespace always
--stripunusedargs closure-only
--maxwidth 140
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--self remove
--importgrouping testable-bottom
--header strip
--disable redundantReturn
--disable blankLinesAtStartOfScope
--disable blankLinesAtEndOfScope
--exclude Packages/*/.build,DerivedData,Vendor
